# Custom
sync_to_webserver.py
private
web
bot
docs
.htaccess
*.fzz


# Logs
logs
*.log

# APP Files
node_modules
.grunt
build/Release
npm-debug.log
.DS_Store
composer.lock
package-lock.json

# IDE Files
/nbproject/
.idea/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
.vscode

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# GIT
.git